---
layout: layouts/base.njk
---
<header class="header header--inner">
  <div class="text-box">
    <h1 class="heading-primary">
      <span class="heading-primary-main">{{ title }}</span>
    </h1>
  </div>
</header>

<div class="page-content">
  {{ content | safe }}
</div>
