<footer class="footer">
  <div class="footer__inner">
    <div>
      <div class="footer__title">Golfové ihrisko</div>
      <p>
        GREEN MEADOWS &amp; GREEN PARK<br>
        Ábelova ul., 951 12 Ivanka pri Nitre<br>
        <a href="tel:+421905200142">+421 905 200 142</a><br>
        <a href="mailto:{{ site.email }}">{{ site.email }}</a>
      </p>
    </div>
    <div>
      <div class="footer__title">Golfový klub MEANDER o.z.</div>
      <p>
        Na stanicu 28, 951 12 Ivanka pri Nitre<br>
        IČO: {{ site.ico_klub }}<br>
        IBAN: {{ site.iban }}<br>
        <a href="{{ site.facebook }}" target="_blank" rel="noopener">Facebook</a>
        &nbsp;·&nbsp;
        <a href="{{ site.youtube }}" target="_blank" rel="noopener">YouTube</a>
      </p>
    </div>
    <div>
      <div class="footer__title">Rýchle odkazy</div>
      <p>
        <a href="/cennik/">Cenník 2026</a><br>
        <a href="/gk-meander/">Členstvo</a><br>
        <a href="/info-blok/treningy-zelene-karty/">Tréningy a zelené karty</a><br>
        <a href="https://booking.reservanto.sk/form/?id=4271" target="_blank" rel="noopener">Rezervácia tréningu</a><br>
        <a href="/kontakt/">Kontakt</a>
      </p>
    </div>
  </div>
  <div class="footer__bottom">
    <span>© {{ site.year }} {{ site.club_name }}. Všetky práva vyhradené.</span>
    <span>
      Hlavný partner:
      <a href="https://www.kartoma.sk" target="_blank" rel="noopener">Kartoma</a>
    </span>
  </div>
</footer>
